body,h1,h2,h3 { margin:0px; padding:0px; background-color: #fff; }
table, td, th {border: 1px solid black; border-collapse:collapse;}
td, th {padding: 3px;}
nav {float: left; width: 250px;  background-color:#F6F5F4; }
article { min-height: 400px; max-width:75%; margin-left: 255px;}
.authorList table, .authorList td {border-style:none;}
.inputName {width:500px;}
footer {clear: both;}
